<div class="header indent1">
  <h2>Technical Information</h2>
</div>
<div style="float: left; margin: 0px 10px;"> 
  <div>
    <h3>
      Survey date: <%= technical_card.survey %>
    </h3>
  </div>  
  <div>
    <div class="label success span6"> Arquiteta e Urbanista – MGTM Ltda.</div>
    <div class="info-block">
      <div class="info-label"> Name : </div>
      <div class="info"><%= technical_card.survey_user1 %> </div>
    </div>  
    <div class="info-block">
      <div class="info-label"> Crea : </div>
      <div class="info"><%= technical_card.survey_user1_crea %> / D</div>
    </div>  
    <div class="label success span6"> Historiadora </div>
    <div class="info-block">
      <div class="info-label"> Name : </div>
      <div class="info"><%= technical_card.survey_user2 %> </div>
    </div>  
    <div class="info-block">
      <div class="info-label"> Crea : </div>
      <div class="info"><%= technical_card.survey_user2_crea %> / D</div>
    </div>  
  </div>
</div>
<div style="float:left; margin: 0px 10px;"> 
  <div>
    <h3>
      Elaboration date: <%= technical_card.elaboration %>
    </h3>
  </div>  
  <div>
    <div class="label success span6"> Arquiteta e Urbanista – MGTM Ltda.</div>
    <div class="info-block">
      <div class="info-label"> Name : </div>
      <div class="info"><%= technical_card.elaboration_user1 %> </div>
    </div>  
    <div class="info-block">
      <div class="info-label"> Crea : </div>
      <div class="info"><%= technical_card.elaboration_user1_crea %> / D</div>
    </div>  
    <div class="label success span6"> Historiadora </div>
    <div class="info-block">
      <div class="info-label"> Name : </div>
      <div class="info"><%= technical_card.elaboration_user2 %> </div>
    </div>  
    <div class="info-block">
      <div class="info-label"> Crea : </div>
      <div class="info"><%= technical_card.elaboration_user2_crea %> / D</div>
    </div>  
  </div>
</div>
