<div class="header indent3">
  <h2>Historical Information</h2>
</div>
<div>
  <div id="i18n" class="input">
    <strong>Choose language: </strong>
    <span class="span5"><input class="i18n" type="radio" name="history" value="en"> English</span>
    <span class="span5"><input class="i18n" type="radio"  name="history" value="es" > Español</span>
    <span class="span5"><input class="i18n" type="radio" name="history" value="pt_br"checked="checked" > Português</span>
    <span><%= link_to 'Clean', "#", :class => 'clean_editor', :id => 'history' %></span>
  </div>
  <div class="clear"></div>

  <%= f.fields_for :historical_report do |hr| %>
    <div class="clearfix">
      <%= hr.label :history %> 
      <div class="input">
        <%= hr.text_area :history, :class => 'span12 editor history' %>
        <span class="help-block"><strong>Note:</strong> Probando </span>
      </div>
    </div>
    <div class="clearfix">
      <%= hr.label :source %> 
      <div class="input fixedData">
        <%= hr.text_area :source, :rows => 3, :cols => 40, :class => 'span12' %>
        <span class="help-block"> Probando </span>
      </div>
    </div>  
  <% end %>
</div>  
